*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color:#8EE4AF;
    --secondary-color: #5cdb95;
    --tertiary-color: #05386B;
    --quaternary-color: #379683;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: bold;
    background-image: url(../assets/banner2.jfif);
    background-repeat: no-repeat;
    background-color: var(--quaternary-color);
    background-size: contain;
    background-position-y: -25px;
}


header {
    padding: 20px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    border-bottom: solid 5px var(--primary-color);
}

header h1 {
    font-size: 42px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0px 0px 15px rgba(5, 223, 139, 0.75);
    font-style: italic;
    width: 25%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 75px;
    font-size: 32px;
    color: var(--primary-color);
}

header nav ul li a:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--tertiary-color);
    text-shadow: 0px 0px 25px rgba(189, 247, 119, 1);
    text-decoration: underline var(--primary-color);
}

.welcome-box {
    margin:365px 20px 24px 80%;
    color: var(--secondary-color);
    float: right;
    font-style: italic;
    border-bottom: solid 2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--tertiary-color);
    
}

.about-me {
    font-size: 36px;
    border: solid 2px 2px 2px 0px var(--secondary-color);
    width: 27%;
    border-radius: 20px 75px 20px 75px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    float: left;
    padding-bottom: 80px;
    text-align:center;
    padding-top: 80px;
    min-height: 275px;
    margin: 5px 0px 5px 20px;
    border-right: solid 5px var(--primary-color);
    border-left: solid 5px var(--primary-color);
}

.about-me-info {
    font-weight: normal;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    float: right;
    width: 68%;
    padding: 25px 25px 25px 25px;
    font-style: italic;
    min-height: 275px;
    line-height: 1.6;
    border-radius: 20px 75px 20px 75px;
    margin: 5px 20px 5px 20px;
    border-right: solid 5px var(--tertiary-color);
    border-left: solid 5px var(--tertiary-color);
}

.break {
    border-bottom: 10px var(--primary-color) solid;
    border-top: 10px var(--tertiary-color) solid;
    margin: 0px;
    width: 100%;
    display: flex;
    }

.work {
    font-size: 36px;
    color: var(--tertiary-color);
    padding: 50px 0px 50px 0px;
    margin: 0px 25% 0px 25%;
    text-align: center;
    background-image: url(../assets/banner1.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 50px var(--quaternary-color);
    border-radius:200px;

}

.picture img {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    border: 0px;
}

.picture img:hover {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    border: 0px;
}

.picture h4 {font-size: 25px;
    color: var(--tertiary-color);
    text-align: center;
    margin-bottom: 25px;
}


.contact-info address, h3, p {
    text-align: center;
    border: none;
    margin: auto;
    float: center;
    color: var(--primary-color);
}

footer h4 {
    font-size: 15px;
    float: right;
    color: var(--primary-color);
}

@media screen and (max-width:980px) {
    header {
        position: relative;
        justify-content: center;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }
    .welcome-box {
        font-size: 15px;
        float: center;
        margin: auto;
        min-width: 100%;
        padding-bottom: 20px;
        border: none;
        text-align: center;
    }

    .about-me {
        font-size: 35px;    font-size: 36px;
        border: solid 2px 2px 2px 0px var(--secondary-color);
        width: 100%;
        border-radius: 0px;
        background-color: var(--tertiary-color);
        color: var(--primary-color);

        padding-top: 0px;
        text-align:center;
        padding-top: 20px;
        min-height: 100px;
        margin: auto;
    }

    .about-me-info {
        margin: auto;
        text-align: center;
        width: 100%;
    }

    @media screen and (max-width:575px) {
        .picture img {
        width: 80%;

        }
    }
}